#listTypeOne :hover {


    background-color: #111;
    color: #1ca8e0;
   /* animation-name: homeAnimation;
animation-duration: 5s;*/

}

#topLine {
    height: 0;
    width: 3px;
    line-height: 2px;
}

/*Menu*/


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }


}

@keyframes homeAnimation {
    0% {
        background: red;
    }
    50% {
        background: green;
    }
    100% {
        background: blue;
    }
}
