div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
 height: 1300px;
    filter: grayscale(100%) blur(1px);

    transition: 500ms;
}

div.gallery:hover {
    border: 1px solid #777;
    width: 600px;

    transition: 600ms;
    filter: none;

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    position: relative;
    display: inline-block;

    text-align: center;

}
@media only screen and (max-width: 1800px) {

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 400px;
        height: 1300px;
        filter: grayscale(100%) blur(1px);

        transition: 500ms;
    }
    div.desc {
        position: relative;
        display: inline-block;

        text-align: center;

    }
    div.gallery img {
        width: 100%;
        height: auto;
    }
}
